@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin 'daisyui';

:root {
  --main-bg: #fff;
  --text-clr: #000;
}

.dark {
  --primary-bg-clr: #000;
  --primary-text-clr: #fff;
}

/* Resets */
body {
  font-family:
    'Outfit',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}

/* utils */
.screen-height {
  height: 100vh;
  height: 100dvh;
}
