@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin 'daisyui';

:root {
  --main-bg: hsl(0, 0%, 97%);
  --main-text-clr: #000;

  --header-bg: hsl(0, 0%, 100%);
  --nav-link-hover-bg: hsl(197, 74%, 29%, 0.15);
  --dropdown-bg: hsl(0, 0%, 100%);
}

.dark {
  --main-bg: #000;
  --main-text-clr: #fff;
}

/* Resets */
* {
  scrollbar-width: thin;
}
body {
  font-family:
    'Outfit',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}

/* utils */
.screen-height {
  height: 100vh;
  height: 100dvh;
}
.header.scroll-trigger {
  box-shadow: 0 2px 5px -3px hsl(0, 0%, 0%, 0.2);
  background-color: hsl(0, 0%, 100%, 0.8);
}

.profile-dropdown-shadow {
  box-shadow:
    0px 3px 5px -2px hsl(0, 0%, 0%, 0.15),
    0px -2px 5px -2px hsl(0, 0%, 0%, 0.1);
}
@media (width < 768px) {
  .menu-dropdown-shadow {
    box-shadow:
      0px 3px 5px -2px hsl(0, 0%, 0%, 0.15),
      0px -2px 5px -2px hsl(0, 0%, 0%, 0.1);
  }
}
