@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@plugin 'daisyui';

:root {
  --white: hsl(0, 0%, 100%);
  --main-bg: hsl(0, 0%, 97%);
  --main-text-clr: hsl(0, 0%, 12%);

  --header-bg: hsl(0, 0%, 100%);
  --header-bg-while-scroll: hsl(0, 0%, 100%, 0.8);
  --accent-color: hsl(197, 74%, 29%, 0.15);
  --dropdown-bg: hsl(0, 0%, 100%);

  --input-bg: hsl(0, 0%, 100%);
  --input-focus-ring-clr: hsl(197, 74%, 50%);
  --slick-border-clr: hsl(0, 0%, 90%);
  --disabled-input-clr: hsl(0, 0%, 30%);

  --loader-bg: hsl(0, 0%, 50%, 0.15);
  --table-border-clr: hsl(0, 0%, 50%, 0.25);
  --modal-bg: hsl(0, 0%, 97%);
}

.dark {
  color-scheme: dark;
  --white: hsl(0, 0%, 10%);
  --main-bg: hsl(0, 0%, 6%);
  --main-text-clr: hsl(0, 0%, 90%);

  --header-bg: hsl(0, 0%, 10%);
  --header-bg-while-scroll: hsl(0, 0%, 10%, 0.8);
  --accent-color: hsl(197, 74%, 70%, 0.15);
  --dropdown-bg: hsl(0, 0%, 8%);

  --input-bg: hsl(0, 0%, 10%);
  --input-focus-ring-clr: hsl(197, 74%, 30%);
  --slick-border-clr: hsl(0, 0%, 21%);
  --disabled-input-clr: hsl(0, 0%, 30%);

  --loader-bg: hsl(0, 0%, 50%, 0.15);
  --table-border-clr: hsl(0, 0%, 50%, 0.25);
  --modal-bg: hsl(0, 0%, 12%);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
/* Resets */
* {
  scrollbar-width: thin;
}
body {
  font-family:
    'Outfit',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}
button,
a,
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}

/* utils */
.screen-height {
  height: 100vh;
  height: 100dvh;
}
.header.scroll-trigger {
  box-shadow: 0 2px 5px -3px hsl(0, 0%, 0%, 0.2);
  background-color: var(--header-bg-while-scroll);
}

.dropdown-shadow {
  box-shadow:
    0px 3px 5px -2px hsl(0, 0%, 0%, 0.15),
    0px -2px 5px -2px hsl(0, 0%, 0%, 0.1);
}

.profile-dropdown-shadow {
  box-shadow:
    0px 3px 5px -2px hsl(0, 0%, 0%, 0.15),
    0px -2px 5px -2px hsl(0, 0%, 0%, 0.1);
}
@media (width < 768px) {
  .menu-dropdown-shadow {
    box-shadow:
      0px 3px 5px -2px hsl(0, 0%, 0%, 0.15),
      0px -2px 5px -2px hsl(0, 0%, 0%, 0.1);
  }
}
